DATABASE_URL="postgresql://neondb_owner:npg_Q6PgtvKwrR9m@ep-crimson-mode-aoh0cu9i-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="5ff62f15e5fa3ef9af3e285d993424129fc1ea0cfc4da34d93e674c8c87ac2b3"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
